@using BlackHoleCMS.Views.Shared
@using BlackHoleCMS.ViewModels
@model List<BlackHoleCMS.ViewModels.ViewPost>

@{
    ViewTopic? topic = ViewData["Topic"] as ViewTopic;
    ViewData["title"] = topic?.Name;
}
<div class="section">
    <div class="section-content">
        <h2>@topic?.Name</h2>
        <p>@topic?.Content</p>
    </div>
    <div class="section-image">
        <component type="@typeof(_Image)" render-mode="WebAssemblyPrerendered" param-Photo="@topic?.Photo?.File" param-Alt="@topic?.Photo?.FileName"/>
    </div>
</div>
<div class="container my-5">
    @foreach (var post in Model!)
    {
        <div class="row-md-6 justify-content-center">
            <div class="col-8 mx-auto">
                <component type="@typeof(_PostCard)" render-mode="WebAssemblyPrerendered" param-Id="@post.Id" param-Title="@post.Title" param-Content="@post.Content" param-Photo="@post.Photo"/>
            </div>
            <hr class="col-6 mx-auto" style="color: #52489c; height: 5px;"/>
        </div>
    }
    
</div>